section.kv-banner#home-banner(
					data-aos="fade-down"
					data-aos-offset="200"
					data-aos-delay="50"
					data-aos-duration="1000"
					data-aos-easing="ease-in-out"
					data-aos-mirror="true"
					data-aos-once="false"
					data-aos-anchor-placement="top-center")
	.swiper-container.kv-banner__slide
		.swiper-wrapper
			.swiper-slide
				.swiper-inner
					img(src="./assets/banner/b-1.png" alt="")
				.content
					p Hiệp Hương - Làm đẹp
					p chính ngôi nhà bạn
		a.btn.btn-more(href="") tìm hiểu thêm
			.swiper-slide
				.swiper-inner
					img(src="./assets/banner/b-2.png" alt="")
				.content
					p Hiệp Hương - Làm đẹp
					p chính ngôi nhà bạn
					a.btn.btn-more(href="") tìm hiểu thêm
			.swiper-slide
				.swiper-inner
					img(src="./assets/banner/b-3.png" alt="")
				.content
					p Hiệp Hương - Làm đẹp
					p chính ngôi nhà bạn
					a.btn.btn-more(href="") tìm hiểu thêm
		a.crolldown(href="#home-1")
			span.ri-arrow-down-line